
{{#each locations as |location|}}
  {{log location}}
  <section data-id="{{location.id}}">
    <!-- <h6>Delete</h6>
    <h3>
      {{limit location.city 15}}
    </h2>
    <h6>City:</h6>
    <p>
      {{#if location.city}}
        {{location.city}}
      {{else}}
        No city provided.
      {{/if}}
    </p> -->

    <form class="hide" data-id="{{location.id}}">
      <h2>Index Location</h2>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://i.imgur.com/mY4wWB9.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{location.city}}</h5>
          <p class="card-text">{{location.attraction}}</p>
          <a id="update-location" class="btn btn-primary">Edit</a>
          <a id="delete-location" class="btn btn-primary">Delete</a>
        </div>
      </div>
      <button id="index-locations" class="btn-primary">Locations</button>
    </form>

    <button type="submit" class="btn btn-danger delete-location">Delete</button>
    <!-- {{> partial}} -->
  </section>

{{/each}}
